---
import Layout from "../layouts/Layout.astro";
import "../styles/components.scss";
import "../styles/utilities.scss";
import Image from "astro/components/Image.astro";
import surpriseHero from "../../src/imgs/my-emoji-surprise-transformed.png";
import nicolasImage from "../../src/imgs/imagenmiaweb.png";
import htmlIcon from "../imgs/section4/html.png";
import cssIcon from "../imgs/section4/css.png";
import sassIcon from "../imgs/section4/sass.png";
import tailwindIcon from "../imgs/section4/tailwind.png";
import figmaIcon from "../imgs/section4/figma.png";
import javascriptIcon from "../imgs/section4/javascript.png";
import typescriptIcon from "../imgs/section4/typescript.png";
import reactIcon from "../imgs/section4/react.png";
import nextIcon from "../imgs/section4/next.png";
import astroIcon from "../imgs/section4/astro.png";
import blenderIcon from "../imgs/section4/blender.png";
---

<Layout title="Nicolas Poveda">
  <div class="min-w-[320px] max-w-[1440px] m-auto">
    <nav class="navbar-with-bg">
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
      <ul class="nav-menu">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#education">EDUCATION</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>

    <main>
      <section
        class="section-bg relative min-h-[400px] max-h-[885px] flex items-center justify-center"
      >
        <div class="carousel-container min-w-[100VW] mx-auto">
          <span
            class="carousel-text text-nowrap select-none flex justify-center font-normal text-[100vw] sm:text-[700px] md:text-[800px] lg:text-[900px] xl:text-[1000px] text-[#eaeaea]"
            >DEVELOPER</span
          >
        </div>
        <div class="div-hero absolute bottom-[300px] left-[10px] z-[1]">
          <button class="button-light">View Projects</button>
          <p class="p-text-1 font-semibold">
            Crafting captivating digital experiences
          </p>
        </div>
        <div class="svg-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:lang="en"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 500 500"
          >
            <title>Circular Text Path with 3D ASCII Donut</title>
            <defs>
              <path
                id="textcircle"
                d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"
                transform="rotate(12,250,250)"></path>
            </defs>
            <g class="textcircle">
              <text
                textLength="940"
                style="letter-spacing: -0.5px; word-spacing: 10px;"
              >
                <textPath
                  xlink:href="#textcircle"
                  aria-label="Quality in every detail | Adventure starts here"
                  textLength="940"
                  class="indent-3"
                >
                  uality in every detail | Adventure starts here | Q
                </textPath>
              </text>
            </g>

            <!-- Contenedor para la dona ASCII 3D -->
            <foreignObject x="100" y="100" width="300" height="300">
              <div
                id="ascii-donut"
                style="
      font-family: 'Courier New', monospace;
      font-size: 0.5em;
      line-height: 1;
      white-space: pre;
      color: rgb(0, 51, 255);
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;
    "
              >
              </div>
            </foreignObject>
          </svg>

          <script>
            window.onload = () => {
              const pre = document.getElementById("ascii-donut");

              if (!pre) {
                console.error(
                  "El elemento con id 'ascii-donut' no fue encontrado."
                );
                return;
              }

              const WIDTH = 60;
              const HEIGHT = 30;
              let z = 0,
                y = 0;

              function updateDonut() {
                z += 0.07;
                y += 0.03;
                const a = new Array(HEIGHT * WIDTH).fill(" ");
                const r = new Array(HEIGHT * WIDTH).fill(0);
                const t = Math.cos(z);
                const e = Math.sin(z);
                const n = Math.cos(y);
                const o = Math.sin(y);

                for (let s = 0; s < 6.28; s += 0.07) {
                  const c = Math.cos(s);
                  const h = Math.sin(s);
                  for (let s2 = 0; s2 < 6.28; s2 += 0.02) {
                    const v = Math.sin(s2);
                    const M = Math.cos(s2);
                    const i = c + 2;
                    const l = 1 / (v * i * e + h * t + 5);
                    const p = v * i * t - h * e;
                    const d = Math.floor(
                      WIDTH / 2 + (WIDTH / 4) * l * (M * i * n - p * o)
                    );
                    const m = Math.floor(
                      HEIGHT / 2 + (HEIGHT / 4) * l * (M * i * o + p * n)
                    );
                    const f = Math.floor(
                      8 *
                        ((h * e - v * c * t) * n -
                          v * c * e -
                          h * t -
                          M * c * o)
                    );
                    const y = d + WIDTH * m;
                    if (
                      m < HEIGHT &&
                      m >= 0 &&
                      d >= 0 &&
                      d < WIDTH &&
                      l > r[y]
                    ) {
                      r[y] = l;
                      a[y] = ".,-~:;=!*#$@"[f > 0 ? f : 0];
                    }
                  }
                }

                let output = "";
                for (let i = 0; i < HEIGHT; i++) {
                  output += a.slice(i * WIDTH, (i + 1) * WIDTH).join("") + "\n";
                }

                // Aquí le decimos a TypeScript que sabemos que 'pre' no es nulo
                (pre as HTMLElement).textContent = output;
              }

              // Actualizar la dona cada 50ms
              setInterval(updateDonut, 50);
            };
          </script>
        </div>

        <div class="div-hero absolute bottom-[180px] right-[10px] z-[1]">
          <button class="button-dark">Get in touch</button>
        </div>

        <div class="surprise-hero bottom-0 m-auto absolute">
          <div class="m-auto z-[1]">
            <h2 class="h2-hero font-semibold text-[36px] text-center">
              Hi, Im <br /> Nicolas Poveda
            </h2>
          </div>
          <Image
            src={surpriseHero}
            alt="Surprise"
            class="surprise-hero bottom-0 m-auto relative w-[100%] h-auto max-w-[640px]"
            draggable="false"
          />
        </div>
      </section>
    </main>

    <section class="section-bg-2 relative min-h-[885px] max-w-full px-6 py-28">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <!-- Elemento 1 -->
        <div class="md:col-span-1 md:row-span-1">
          <div class="max-w-[680px] mb-[40px]">
            <svg width="auto" height="10" class="mb-[20px]">
              <line
                x1="0"
                y1="5"
                x2="680"
                y2="5"
                stroke="black"
                stroke-width="2"></line>
            </svg>
            <div class="span-number text-[15px] flex justify-between">
              <p>(THE STORY)</p>
              <span
                class="w-16 h-7 border-[1px] border-black rounded-2xl flex justify-center"
                >01</span
              >
            </div>
            <div class="h2-container">
              <h2
                class="h2-about text-[38px] sm:text-xl md:text-3xl lg:text-6xl"
              >
                ABOUT ME
              </h2>
            </div>
          </div>
        </div>

        <!-- Elemento 2 -->
        <div class="md:col-span-1 md:row-span-3 mx-auto">
          <Image
            src={nicolasImage}
            alt="Surprise"
            class="w-full h-auto max-w-[500px] object-contain"
            draggable="false"
          />
          <Image
            src="/arrowDownRight.svg"
            alt="Menu Icon"
            height="80"
            width="80"
            class="absolute rotate-45 bottom-14 right-10 hidden lg:block"
          />
        </div>

        <!-- Elemento 3 -->
        <div class="md:col-span-1 md:row-span-2">
          <p class="p-about indent-14 leading-loose">
            As a front-end web developer, I specialize in creating exceptional
            digital experiences tailored to your needs. I stay up-to-date with
            the latest web technologies and design trends to deliver visually
            striking, user-friendly sites.
            <br /><br />
            Whether you need a landing page or a complex web app, I can work independently
            or as part of a team to bring your ideas to life. My goal is to craft
            solutions that exceed your expectations and provide a seamless user experience.
          </p>
          <!-- <button
            class="button-about mt-16 w-auto p-3.5 border-[1px] border-black rounded-3xl flex justify-center"
          > -->
        </div>
      </div>
    </section>
  </div>

  <section class="section-bg-3 relative px-6 py-28">
    <div
      class="span-number text-[15px] flex justify-between align-middle font-semibold max-w-[68rem] md:pl-40 pl-10 p-4"
    >
      <p
        class="h-7 border-[2px] border-black rounded-2xl px-3 flex justify-center bg-white min-w-20"
      >
        THE PROJECTS
      </p>
      <span
        class="w-16 h-7 border-[2px] border-black rounded-2xl flex justify-center bg-white"
        >02</span
      >
    </div>
    <div class="flex justify-center">
      <div class="relative mx-4 btn-container btn-1">
        <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
          <img
            src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
            alt="Imagen de fondo"
            class="h-full w-full object-cover img-transform"
          />
        </div>
      </div>
      <div class="relative mx-4 btn-container btn-2">
        <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
          <img
            src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
            alt="Imagen de fondo"
            class="h-full w-full object-cover img-transform"
          />
        </div>
      </div>
      <div class="relative mx-4 btn-container btn-3">
        <div class="absolute inset-0 rounded-lg shadow-lg img-wrapper">
          <img
            src="https://w0.peakpx.com/wallpaper/484/566/HD-wallpaper-car-nice-tuning.jpg"
            alt="Imagen de fondo"
            class="h-full w-full object-cover img-transform"
          />
        </div>
      </div>
    </div>
  </section>
  <section
    class="section-bg-4 relative min-h-[885px] max-w-full px-6 pt-28 flex flex-col items-center"
  >
    <h2 class="h2-hero lg:text-[8rem] md:text-[4rem] mb-10 text-center">
      EDUCATION
    </h2>
    <div class="education-container">
      <div class="education-content">
        <!-- 2023 - Present -->
        <div class="education-item mb-8 lg:ml-10">
          <h3 class="auxiliar-btn text-xl font-semibold mb-2">
            2023 - Present
          </h3>
          <ul class="auxiliar-ul list-none space-y-2">
            <li>Independent learning in front-end and back-end development</li>
            <li>
              Knowledge in HTML, CSS, Sass, Tailwind, React, Next.js, Astro
            </li>
            <li>Ability to design and develop front-end websites</li>
            <li>
              Skills to receive designs and implement them in the front-end
            </li>
          </ul>
        </div>

        <!-- 2022 - 2023 -->
        <div class="education-item mb-8 lg:pl-80">
          <h3 class="auxiliar-btn text-xl font-semibold mb-2">2022 - 2023</h3>
          <ul class="auxiliar-ul list-none space-y-2">
            <li>
              Obtained the Responsive Web Design certification from FreeCodeCamp
            </li>
            <li>
              Started "The Odin Project" course and completed the front-end
              section
            </li>
          </ul>
        </div>

        <!-- 2021 - Present -->
        <div class="education-item mb-8">
          <h3 class="auxiliar-btn text-xl font-semibold mb-2">
            2021 - Present
          </h3>
          <p class="auxiliar-p mb-2">
            Multimedia Engineering at UNAD University
          </p>
          <ul class="auxiliar-ul list-none space-y-2">
            <li>Learning Figma</li>
            <li>Knowledge in typography and magazine layout</li>
            <li>Fundamentals of algebra and physics</li>
            <li>Interest in professional drawing and design</li>
            <li>Acquisition of skills in composition and design</li>
            <li>
              Proficiency in tools like Paint 3D, Canva, and basic photo editing
            </li>
          </ul>
        </div>

        <!-- 2016 - 2019 -->
        <div class="education-item lg:pl-80">
          <h3 class="auxiliar-btn text-xl font-semibold mb-2">2016 - 2019</h3>
          <p class="auxiliar-p mb-2">High School Education</p>
          <ul class="auxiliar-ul list-none space-y-2">
            <li>Introduction to programming in C#, HTML, and CSS</li>
            <li>Basic knowledge of software and hardware</li>
            <li>Assembling and disassembling computers</li>
            <li>Installation and uninstallation of operating systems</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="tech-section pb-32">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-center m-12 tech-title">
        Technologies I Have Used
      </h2>
      <div class="flex flex-wrap justify-center gap-8">
        <!-- HTML Icon -->
        <div class="tech-icon">
          <Image src={htmlIcon} alt="HTML" />
          <div class="tech-label">HTML</div>
        </div>
        <!-- CSS Icon -->
        <div class="tech-icon">
          <Image src={cssIcon} alt="CSS" />
          <div class="tech-label">CSS</div>
        </div>
        <!-- Sass Icon -->
        <div class="tech-icon">
          <Image src={sassIcon} alt="Sass" />
          <div class="tech-label">Sass</div>
        </div>
        <!-- Tailwind Icon -->
        <div class="tech-icon">
          <Image src={tailwindIcon} alt="Tailwind" />
          <div class="tech-label">Tailwind</div>
        </div>
        <!-- Figma Icon -->
        <div class="tech-icon">
          <Image src={figmaIcon} alt="Figma" />
          <div class="tech-label">Figma</div>
        </div>
        <!-- JavaScript Icon -->
        <div class="tech-icon">
          <Image src={javascriptIcon} alt="JavaScript" />
          <div class="tech-label">JavaScript</div>
        </div>
        <!-- TypeScript Icon -->
        <div class="tech-icon">
          <Image src={typescriptIcon} alt="TypeScript" />
          <div class="tech-label">TypeScript</div>
        </div>
        <!-- React Icon -->
        <div class="tech-icon">
          <Image src={reactIcon} alt="React" />
          <div class="tech-label">React</div>
        </div>
        <!-- Next.js Icon -->
        <div class="tech-icon">
          <Image src={nextIcon} alt="Next.js" />
          <div class="tech-label">Next.js</div>
        </div>
        <!-- Astro Icon -->
        <div class="tech-icon">
          <Image src={astroIcon} alt="Astro" />
          <div class="tech-label">Astro</div>
        </div>
        <!-- Blender Icon -->
        <div class="tech-icon">
          <Image src={blenderIcon} alt="Blender" />
          <div class="tech-label">Blender</div>
        </div>
        <!-- Three.js Icon -->
        <!-- <div class="tech-icon">
          <Image src={threejsIcon} alt="Three.js" />
          <div class="tech-label">Three.js</div>
        </div> -->
        <!-- Framer Motion Icon
          <div class="tech-icon">
            <Image src={framermotionIcon} alt="Framer Motion" />
            <div class="tech-label">Framer Motion</div> -->
      </div>
    </div>
  </section>
</Layout>

<footer
  class="footer pt-8 mt-16 border-t border-gray-200"
  style="font-family: 'Montserrat Alternates', Arial, sans-serif;"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 lg:gap-16">
      <!-- Brand Information -->
      <div class="space-y-6">
        <h2
          class="text-3xl font-bold"
          style="font-family: 'Krona One', sans-serif;"
        >
          Nicolas Poveda
        </h2>
        <p class="text-gray-700 leading-relaxed">
          Front-end Developer specialized in creating exceptional digital
          experiences.
        </p>
        <p class="text-sm text-gray-500">
          &copy; 2024 Nicolas Poveda. All rights reserved.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="md:mx-auto">
        <h3
          class="text-xl font-semibold mb-6 text-black"
          style="font-family: 'Krona One', sans-serif;"
        >
          Quick Links
        </h3>
        <ul class="space-y-4">
          <li>
            <a
              href="#home"
              class="text-gray-700 hover:text-black transition duration-300"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#about"
              class="text-gray-700 hover:text-black transition duration-300"
              >About</a
            >
          </li>
          <li>
            <a
              href="#projects"
              class="text-gray-700 hover:text-black transition duration-300"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="#contact"
              class="text-gray-700 hover:text-black transition duration-300"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <!-- Contact and Social Media -->
      <div class="space-y-6">
        <h3
          class="text-xl font-semibold mb-4 text-black"
          style="font-family: 'Krona One', sans-serif;"
        >
          Let's Connect
        </h3>
        <p class="text-gray-700 leading-relaxed">
          Ready to start a project? Let's talk!
        </p>
        <a
          href="mailto:your@email.com"
          class="inline-block text-white bg-black hover:bg-gray-800 px-6 py-3 rounded-md transition duration-300"
          >Contact Me</a
        >
        <div class="flex space-x-4">
          <a
            href="#"
            class="text-gray-600 hover:text-black transition duration-300"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-600 hover:text-black transition duration-300"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
              ></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-600 hover:text-black transition duration-300"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="#"
            class="text-gray-600 hover:text-black transition duration-300"
          >
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12 pt-8 pb-6 border-t border-gray-200">
    <p class="text-center text-gray-500 text-sm">
      Designed and built with 👽(aliens) by Nicolas Poveda
    </p>
  </div>
</footer>
